<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.sys.mapper.BoardMapper">

	<select id="login" resultType="com.example.demo.sys.domain.User">
		SELECT username
		,password
		,authority
		,enabled
		FROM user
		WHERE username = #{username}
	</select>

	<select id="tosyocount" resultType="int">
		SELECT COUNT(*)
		FROM
		tosyo_master
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('tosyo_num')">
				WHERE tosyo_num like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('tosyo_name')">
				WHERE tosyo_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('tosyo_daibunrui')">
				WHERE tosyo_daibunrui like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('tosyo_cyubunrui')">
				WHERE tosyo_cyubunrui like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</select>

	<select id="listpage"
		resultType="com.example.demo.sys.domain.BoardVO">
		SELECT *
		FROM tosyo_master
		<if
			test="keyword != null and keyword != '' and searchtype.equals('tosyo_num')">
			WHERE tosyo_num like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('tosyo_name') and keyword != null and keyword != '' ">
			WHERE tosyo_name like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('tosyo_daibunrui') and keyword != null and keyword != '' ">
			WHERE tosyo_daibunrui like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('tosyo_cyubunrui') and keyword != null and keyword != '' ">
			WHERE tosyo_cyubunrui like CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY tosyo_number ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<select id="tosyoDetail" parameterType="int"
		resultType="com.example.demo.sys.domain.BoardVO">
		SELECT *
		FROM tosyo_master
		WHERE tosyo_number =
		#{tosyo_number}
	</select>

	<insert id="tosyoInsert"
		parameterType="com.example.demo.sys.domain.BoardVO">
		INSERT INTO tosyo_master
		(tosyo_number,tosyo_num,tosyo_name,tosyo_daibunrui,tosyo_cyubunrui)
		VALUES
		(#{tosyo_number},#{tosyo_num},#{tosyo_name},#{tosyo_daibunrui},#{tosyo_cyubunrui})
	</insert>

	<update id="tosyoUpdate"
		parameterType="com.example.demo.sys.domain.BoardVO">
		UPDATE tosyo_master
		SET
		<if test="tosyo_num != null">
			tosyo_num = #{tosyo_num}
		</if>
		<if
			test="tosyo_num != null and tosyo_name != null and tosyo_daibunrui != null and tosyo_cyubunrui != null"> , </if>
		<if test="tosyo_name != null">
			tosyo_name = #{tosyo_name}
		</if>
		<if test="tosyo_daibunrui != null">
			,tosyo_daibunrui = #{tosyo_daibunrui}
		</if>
		<if test="tosyo_cyubunrui != null">
			,tosyo_cyubunrui = #{tosyo_cyubunrui}
		</if>
		WHERE tosyo_number = #{tosyo_number}
	</update>

	<delete id="tosyoDelete" parameterType="int">
		DELETE FROM tosyo_master
		WHERE tosyo_number = #{tosyo_number}
	</delete>

</mapper>